html {
  background-image: url(background.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
}

#profile {
  /* width: 50%;
position: fixed;
text-align: center; */
  clip-path: circle();
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  width: 60%;
  image-rendering: optimizeQuality;
}

#card {
  display: block;
  text-align: center;
  border: 1px solid #ff10f0;
  border-radius: 8px;
  width: 20rem;
  padding: 1rem;
  margin: 5rem auto;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #ff10f0,
    0 0 0.8rem #ff10f0, 0 0 2.8rem #ff10f0;
}
/* animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
#name {
  font-family: "Bebas Neue", cursive;
  color: #fff;
  font-size: 32px;
}

#location {
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  font-weight: 400;
}

#bio {
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  font-weight: 700;
}

#html,
#css,
#javascript,
#react,
#nodejs,
#git {
  display: inline-flex;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 0.25rem 1rem;
  margin: 4px;
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
}

#html:hover,
#css:hover,
#javascript:hover,
#react:hover,
#nodejs:hover,
#git:hover {
  scale: 1.1;
  background-color: aliceblue;
  transition: 0.4s ease-out;
  color: black;
}

#cta {
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  font-weight: 700;
}

#social {
  scale: 2.5;
  margin: 2rem 0;
}

#github,
#linkedin,
#twitter,
#instagram {
  color: #fff;
  padding: 0rem 0.25rem;
}

#github:hover,
#linkedin:hover,
#twitter:hover,
#instagram:hover {
  scale: 1.1;
  transition: 0.4s ease-out;
  color: black;
  cursor: pointer;
}

.btn {
  background-image: linear-gradient(
    to right,
    #f222ff 0%,
    #8c1eff 51%,
    #f222ff 100%
  );
  margin: 5px;
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  /* display: block; */
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.slide-in-fwd-center {
  -webkit-animation: slide-in-fwd-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-fwd-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
